<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
</head>
<body>
<h1>Список сотрудников</h1>
<a th:href="@{/employees/add}">Добавить нового сотрудника</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Должность</th>
        <th>Пожарная часть</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.fireStation.name}"></td>
        <td>
            <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Редактировать</a>
            <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">На главную</a>
</body>
</html>