<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список вызовов</title>
</head>
<body>
<h1>Список вызовов</h1>
<a th:href="@{/fire-calls/add}">Добавить новый вызов</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата и время</th>
        <th>Адрес</th>
        <th>Описание</th>
        <th>Пожарная часть</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fireCall : ${fireCalls}">
        <td th:text="${fireCall.id}"></td>
        <td th:text="${fireCall.callDate}"></td>
        <td th:text="${fireCall.address}"></td>
        <td th:text="${fireCall.description}"></td>
        <td th:text="${fireCall.fireStation.name}"></td>
        <td>
            <a th:href="@{/fire-calls/edit/{id}(id=${fireCall.id})}">Редактировать</a>
            <a th:href="@{/fire-calls/delete/{id}(id=${fireCall.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">На главную</a>
</body>
</html>