<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пожарных частей</title>
</head>
<body>
<h1>Список пожарных частей</h1>
<a th:href="@{/fire-stations/add}">Добавить новую пожарную часть</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fireStation : ${fireStations}">
        <td th:text="${fireStation.id}"></td>
        <td th:text="${fireStation.name}"></td>
        <td th:text="${fireStation.address}"></td>
        <td th:text="${fireStation.phoneNumber}"></td>
        <td>
            <a th:href="@{/fire-stations/edit/{id}(id=${fireStation.id})}">Редактировать</a>
            <a th:href="@{/fire-stations/delete/{id}(id=${fireStation.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">На главную</a>
</body>
</html>